@{
    ViewBag.Title = "AYD2";
}
<center>
<p>
   <img src="http://media.ingenieria.usac.edu.gt/images/joomla_template/logo_institucional.png" />
</p>
<p>
ANÁLISIS Y DISEÑO DE SISTEMAS 2 <br />
DENIS ALFONSO MORALES OVALLE  2009-25014<br />
JOSE REMBERTO MOREJON MORALES 2009-15078<br />
</p></center>